[Bb]in/
[Oo]bj/
.vs/
.lab/
*.user
*.suo
iis/applicationhost.config
iis/logs/
certs/*.pfx
certs/*.cer
certs/*.crt
certs/*.key
certs/*.thumbprint
!certs/.gitkeep
certs/eid-ca/
publish/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf

# Ansible
*.retry
ansible/inventories/work.yml
ansible/.vault_pass
ansible/group_vars/work.yml
