<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllowLabCertificates" value="true" />
    <!-- ID-kaardi testiks: Online. Lab-sertifikaatidega: NoCheck. -->
    <add key="RevocationMode" value="NoCheck" />
    <!-- Rakenduse logi. Toodangus suuna rakendusest väljapoole (nt D:\logs\demo\service.log),
         et logi ei kaoks deploy'ga ja kataloog oleks app pooli identiteedile kirjutatav. -->
    <add key="serviceLogPath" value="~/App_Data/service.log" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="None" />
    <identity impersonate="false" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <!--
      Detailed = IIS saadab kliendile ka alamstaatuse (403.16 / 403.13 / 403.7).
      Ilma selleta naeb klient ainult "403 Forbidden" ja WCF muudab selle
      teateks "client authentication scheme 'Anonymous'", millest ei ole abi.
      Toodangus: DetailedLocalOnly (vaikimisi) ja alamstaatus IIS-i W3C logist.
    -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="mtls" sendTimeout="00:00:15" receiveTimeout="00:00:15" openTimeout="00:00:10" closeTimeout="00:00:10">
          <security mode="Transport">
            <!-- IIS/HTTP.sys teeb mTLS; WCF loeb kliendisertifikaadi päringust. -->
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="demo">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Demo.Service.DemoService" behaviorConfiguration="demo">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="mtls" contract="Demo.Contracts.IDemoService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
